
@{
    ViewData["Title"] = "TeamList";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Tüm Ekip Listesi</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <a href="~/AdminPanel/Team/TeamAdd" class="btn btn-primary btn-sm">Yeni Ekip Üyesi Ekle</a>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ekip Üye Adı</th>
                                <th>Ekip Üye Ünvanı</th>
                                <th>Ekip Üye Oluşturma Tarihi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dekorasyon</td>
                                <td>dekorasyon</td>
                                <td>28.11.2021</td>
                                <td> <button type="button" class="btn btn-w-m btn-primary">Düzenle</button> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>İnşaat</td>
                                <td>insaat</td>
                                <td>28.11.2021</td>
                                <td> <button type="button" class="btn btn-w-m btn-primary">Düzenle</button> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Tadilat</td>
                                <td>tadilat</td>
                                <td>28.11.2021</td>
                                <td> <button type="button" class="btn btn-w-m btn-primary">Düzenle</button> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Dış Cephe</td>
                                <td>dis-cephe</td>
                                <td>28.11.2021</td>
                                <td> <button type="button" class="btn btn-w-m btn-primary">Düzenle</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>