
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="middle-box text-center animated fadeInDown">
    <h1><i class="fa fa-lock"></i></h1>
    <h3 class="font-bold">YETKİ KISITLAMASI</h3>

    <div class="error-desc">
        Bu sayfaya erişmek için yetkiniz bulunmuyor! Lütfen site yöneticisi ile iletişime geçiniz..
        <br><a href="~/AdminPanel" class="btn btn-primary m-t">Anasayfa'ya Dön</a>
    </div>
</div>

