
@{
    ViewData["Title"] = "ReferansAdd";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/admintheme/css/plugins/summernote/summernote-bs4.css" rel="stylesheet">
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Yeni Referans Ekle</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form role="form">
                                <div class="form-group">
                                    <label>Başlık</label>
                                    <input type="text" placeholder="Referans adını giriniz.." class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Görsel</label>
                                    <input type="file" placeholder="Referans adını giriniz.." class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>İçerik</label>
                                    <div class="summernote"></div>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Yayınla</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/admintheme/js/plugins/summernote/summernote-bs4.js"></script>

    <script>
        $(document).ready(function () {

            $('.summernote').summernote({
                height: 400
            });

        });
    </script>
}