@using EntityLayer.Concrete
@model List<Slider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Sliderlar</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <a href="~/AdminPanel/Slider/Add" class="btn btn-primary btn-sm">Yeni Slider Ekle</a>
                </div>
                <div class="ibox-content">
                    @if (Model.Count <= 0)
                    {
                        <h2 class="text-center">Henüz slider eklenmemiştir!</h2>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Slider Başlık</th>
                                    <th>Menü Durumu</th>
                                    <th>Menü Son Düzenleme</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.Title</td>
                                        <td>@Html.Raw(item.IsActive == true ? "<span class='badge badge-success'>Yayında</span>" : "<span class='badge badge-danger'>Yayında Değil</span>")</td>
                                        <td>@(((DateTime)item.UpdatedDate).ToString("dd.MM.yyyy"))</td>
                                        <td>
                                            <a href="~/AdminPanel/Slider/Update/@item.ID" class="btn btn-w-m btn-primary">Düzenle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>