@{
    ViewData["Title"] = "Anasayfa";
}


@await Component.InvokeAsync("SliderList")

<main id="main">

    @await Component.InvokeAsync("ServiceList")

    @await Component.InvokeAsync("NewsList")

    @await Component.InvokeAsync("PartnerList")

</main>
